[submodule "3D_power_thermal"]
	path = 3D_power_thermal
	url = https://github.com/shailjap29/3D_power_thermal.git
[submodule "hotspot"]
	path = hotspot
	url = https://github.com/shailjap29/hotspot.git
[submodule "CoMeT-Power"]
	path = CoMeT-Power
	url = https://github.com/5ayam5/CoMeT-Power
